{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "api.entrydsm.hs.kr",
    "termsOfService": "https://entrydsm..hs.kr/terms/",
    "contact": {
      "email": "entrydsm@entrydsm.hs.kr",
      "url": "https://www.facebook.com/entrydsm/"
    },
    "x-logo": {
      "url": "https://scontent-yyz1-1.xx.fbcdn.net/v/t1.0-9/29541044_1643574955738240_6525951496655370945_n.png?_nc_cat=109&_nc_ht=scontent-yyz1-1.xx&oh=c43c8bf9ac6af957c35a204efc519ee6&oe=5D926744"
    },
    "description": "[![Build Status](https://travis-ci.org/EntryDSM/Docs.svg?branch=master)](https://travis-ci.org/EntryDSM/Docs)\n\nThis is EntryDSM API docs! You can develop services&frontend by reading this :)\n"
  },
  "tags": [
    {
      "name": "Hermes",
      "description": "Handles all EntryDSM user(admin, applicant) related functions on the EntryDSM platform"
    },
    {
      "name": "Louis-Vuitton",
      "description": "LV is in charge of process of entrance application"
    }
  ],
  "servers": [
    {
      "url": "https://entrydsn.hs.kr/api/v1"
    }
  ],
  "paths": {
    "/admin": {
      "post": {
        "tags": [
          "Hermes"
        ],
        "summary": "Create new admin - INTER CALL ONLY",
        "description": "Create new admin",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "admin_id",
                  "admin_email",
                  "admin_name",
                  "admin_password",
                  "admin_type"
                ],
                "properties": {
                  "admin_id": {
                    "type": "string",
                    "example": "entry2019root",
                    "description": "admin id"
                  },
                  "admin_email": {
                    "type": "string",
                    "example": "entry@entrydsm.hs.kr",
                    "description": "admin email"
                  },
                  "admin_name": {
                    "type": "string",
                    "example": "연준모",
                    "description": "admin name"
                  },
                  "admin_password": {
                    "type": "string",
                    "example": "p@assword",
                    "description": "admin password"
                  },
                  "admin_type": {
                    "type": "string",
                    "example": "admin type",
                    "description": "admin type, one of `ROOT`, `ADMINISTRATION`, `INTERVIEW`"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "JWTAuthentication": []
          }
        ],
        "responses": {
          "201": {
            "description": "Admin created"
          },
          "400": {
            "description": "Bad request, check your payload"
          },
          "401": {
            "description": "Authentication failed"
          },
          "409": {
            "description": "Admin with requested admin_id is already exists"
          }
        }
      }
    },
    "/admin/batch": {
      "get": {
        "tags": [
          "Hermes"
        ],
        "summary": "Get multiple admins - INTER CALL ONLY",
        "description": "Get multiple admins",
        "parameters": [
          {
            "name": "admin_id",
            "in": "query",
            "description": "admin id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "admin_email",
            "in": "query",
            "description": "admin email",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "admin_name",
            "in": "query",
            "description": "admin name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "admin_type",
            "in": "query",
            "description": "admin type, one of `ROOT`, `ADMINISTRATION`, `INTERVIEW`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "JWTAuthentication": []
          }
        ],
        "responses": {
          "200": {
            "description": "Query succeess",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "admin_id": {
                        "type": "string",
                        "example": "entry2019root"
                      },
                      "admin_email": {
                        "type": "string",
                        "example": "entry@entrydsm.hs.kr"
                      },
                      "admin_name": {
                        "type": "string",
                        "example": "연준모"
                      },
                      "admin_type": {
                        "type": "string",
                        "example": "ROOT",
                        "description": "one of `ROOT`, `ADMINISTRATION`, `INTERVIEW`"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      }
    },
    "/admin/{admin_id}": {
      "parameters": [
        {
          "name": "admin_id",
          "in": "path",
          "description": "admin id",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "tags": [
          "Hermes"
        ],
        "summary": "Get one admin - INTER CALL ONLY",
        "description": "Get one admin",
        "security": [
          {
            "JWTAuthentication": []
          }
        ],
        "responses": {
          "200": {
            "description": "Query success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "admin_id": {
                      "type": "string",
                      "example": "entry2019root"
                    },
                    "admin_email": {
                      "type": "string",
                      "example": "entry@entrydsm.hs.kr"
                    },
                    "admin_name": {
                      "type": "string",
                      "example": "연준모"
                    },
                    "admin_type": {
                      "type": "string",
                      "example": "ROOT",
                      "description": "one of `ROOT`, `ADMINISTRATION`,`INTERVIEW`"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed"
          },
          "404": {
            "description": "Admin not found"
          }
        }
      },
      "patch": {
        "tags": [
          "Hermes"
        ],
        "summary": "Patch one admin - INTER CALL ONLY",
        "description": "Patch one admin",
        "security": [
          {
            "JWTAuthentication": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "admin_email": {
                    "type": "string",
                    "example": "entry@entrydsm.hs.kr",
                    "description": "admin email"
                  },
                  "admin_name": {
                    "type": "string",
                    "example": "연준모",
                    "description": "admin name"
                  },
                  "admin_password": {
                    "type": "string",
                    "example": "p@assword",
                    "description": "admin password"
                  },
                  "admin_type": {
                    "type": "string",
                    "example": "admin type",
                    "description": "admin type, one of `ROOT`, `ADMINISTRATION`, `INTERVIEW`"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Patch success"
          },
          "401": {
            "description": "Authentication failed"
          },
          "404": {
            "description": "Admin not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Hermes"
        ],
        "summary": "Delete one admin - INTER CALL ONLY",
        "description": "Delete one admin",
        "security": [
          {
            "JWTAuthentication": []
          }
        ],
        "responses": {
          "200": {
            "description": "Delete success"
          },
          "401": {
            "description": "Authentication failed"
          },
          "404": {
            "description": "Admin not found"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "JWTAuthentication": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization"
      }
    }
  }
}
